<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Product</title>

<style>
.container {
	border: 2px solid black;
	padding: 4px 5px;
	width: 400px;
	margin: 5px auto;
}

h3 {
	border: 2px solid black;
	display: inline-block;
	text-align: center;
}
</style>
</head>
<body>

	<div class="container">
		<h3>Add Product</h3>


		<form action="/product" method="post" enctype="multipart/form-data">

			<div>
				Name :<input type="text" name="name">
			</div>
			<div>
				description :<input type="text" name="description">
			</div>
			<div>
				Price :<input type="number" name="price">
			</div>
			<div>
				Select image of product :<input type="file" name="photo">
			</div>
			<div>
				<select name="category">
					<option value="">select category</option>
					<option th:each="cat :${Categorylist}" th:value="${cat.id}">[[${cat.cname}]]</option>
				</select>
			</div>

			<div>
				<input type="submit" value="Add">
			</div>

		</form>

	</div>
		<a href="/category">Add category</a>

</body>
</html>