<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>User SignUp</h1>
<hr>

	
	<form action="/signup" method="post">
	
	<label>FirstName :</label>
	
		<input type="text" name = "fname" ><br><br>
		
		<label>LastName :</label>
		<input type="text" name = "lname" ><br><br>
		
		<label>UserName :</label>
		<input type="text" name = "username" ><br><br>
		
		<label>Password :</label>
		<input type="text" name = "password" ><br><br>
		
		<input type = "submit" value="Signup">
	
	
	</form>

</body>
</html>